
<div class="wrapper">
<mat-card>
  <div>task id : {{tasks.id}}</div>
  <div > task name : {{tasks.name}}</div>
  <div > Priority :{{tasks.priority | priority }}</div>
  <div > Status :  {{tasks.status | status}}</div>
  <div class="btns">
    <div> 
       <button mat-raised-button color="accent">
      <mat-icon>delete</mat-icon>
      Delete
    </button>
  </div>
    <div>
        <button mat-raised-button color="primary">
      <mat-icon>edit</mat-icon>
      edit
    </button> 
    </div>
  </div>
</mat-card>
</div>
