
.form{

   max-height: 30px;
  margin-top: -10px;

}
.wrapper{
  display: relative;

}



.expand{
  padding-left: 10px;

}
.btn{
  float:right;

  max-width: 10px;
  margin-right: 2px;

}
.taskselector{
  display: flex;
}

