
<div class="wrapper">
  <form [formGroup] ="detailbaseform" (submit)="fetch()">
    <mat-form-field >
      <mat-label>ID</mat-label>
      <input type="number" matInput formControlName="id" (change)="change()">
      <mat-error *ngIf="detailbaseform.get('id').hasError('required')"> this field is required</mat-error>
      <mat-error *ngIf="detailbaseform.get('id').hasError('min')"> least value is 1</mat-error>

    </mat-form-field>

    <button type="submit" mat-raised-button color="primary" >fetch</button>


  </form>
  <div><h2>{{statustext}}</h2></div>
</div>
<div *ngIf="display">
  <app-taskdetail [id] = "task.id" (stats)="add($event)"> </app-taskdetail>
</div>


